[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
playwright = "*"
smsactivate = "*"
requests = "*"
2captcha-python = "*"
pillow = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
